$radius : 10px;

.cards {
    border: 4px solid #0b5ed7;
    border-radius: $radius;
	background: #49d8f88a;
}

.img{
	border-radius: $radius $radius 0 0;
}

.badge{
	top: 15px;
	right: 30px;
	font-size: 17px;
}

.gender{
	top: 50px;
	right: 30px;
	font-size: 17px;
}


