.input{
    width: 45%;
    border-radius: 8px;
    padding: 10px 25px;
    box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: .7);
    &:focus {
        outline: none;
    }
}


.inputsearch{
    width: 10%;
    border-radius: 8px;
    padding: 10px 25px;
    box-shadow: 2px 3px 9px rgba($color: #000000, $alpha: .7);
}